* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: grey;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .logo-text {
    color: #fff;
    font-size: 38px;
}

header .logo-img {
    width: 60px;
    height: 65px;
}

.app-body {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.app-body .sidebar {
    background-color: #F3E9DD;
    padding: 20px;
    height: 100vh;
}

.sidebar-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.sidebar-box p {
    font-size: 18px;
}

.sidebar .sidebar-img {
    height: 15px;
    width: 18px;
}