@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

$fira-font: 'Fira Sans', sans-serif;

$primarycolor: #D3E4CD;
$secondarycolor: #FEF5ED;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fira-font;
}

header {
    background-color: $primarycolor;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
}

header .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

header h3.logo-text {
    color: #fff;
    font-size: 38px;
}

header #logo-img {
    width: 60px;
    height: 65px;
}

body .main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: calc(100vh - (80px + 50px));
}

.main .sidebar {
    display: flex;
    flex-direction: column;
    background-color: $secondarycolor;
    gap: 30px;
    padding: 30px;
}

.sidebar .categories, 
.projects .project-list,
.sidebar .projects{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.categories .category-btn, 
.projects .add-project-btn{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px;

    justify-content: left;
    align-items: center;
    background-color: $secondarycolor;
    border: none;
}

.category-btn:hover,
.add-project-btn:hover,
.project-page .add-task-btn:hover {
    background-color: rgba($color: #000000, $alpha: 0.4);
}

.add-project-btn p,
.category-btn p {
    font-size: 15px;
}

.add-project-btn i,
.category-btn i {
    font-size: 24px;
}

.main .display {
    padding: 30px;
}

.display h3 {
    font-size: 30px;
}

footer {
    height: 50px;
    background-color: $primarycolor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer a {
    font-size: 18px;
    text-decoration: none;
    color: #000;
}

.add-project-form {
    display: none;
}

.add-project-form.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btn {
    font-size: 15px;
    padding: 5px;
}

input[class=project-name] {
    height: 30px;
    border-radius: 5px;
    width: 100%;
}

.add-project-form .project-form-btns {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.projects .project-list {
    display: grid;
    overflow: auto;
}

.project-list .project-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: $secondarycolor;
    border: none;
    gap: 10px;
}

.project-list .project-btn:hover {
    background-color: rgba($color: #000000, $alpha: 0.4);
}

.project-btn .project-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.project-btn i {
    font-size: 16px;
}

.project-info span {
    font-size: 16px;
}

.display .project-page {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.project-page h3 {
    font-size: 30px;
}

.project-page .add-task-btn {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px;

    justify-content: left;
    align-items: center;
    background-color: #fff;
    font-size: 20px;
    border: none;
    width: 150px;
}

.project-page .add-task-btn.hide {
    display: none;
}

.project-page .task-list {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.project-page .add-task-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.add-task-form .task-form-btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.task-list .task-card{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.display .today-list {
    display: flex;
    flex-direction: column;
    padding: 20px;

    gap: 10px;
}

.today-list .task-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}