$primarycolor: #D3E4CD;
$secondarycolor: #FEF5ED;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: $primarycolor;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

header h3.logo-text {
    color: #fff;
    font-size: 38px;
}

header #logo-img {
    width: 60px;
    height: 65px;
}

body .main {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.main .sidebar {
    display: flex;
    flex-direction: column;
    background-color: $secondarycolor;
    gap: 30px;
    padding: 30px;
}

.sidebar .categories, 
.projects .project-list,
.sidebar .projects{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.categories .category-btn, 
.project-list .add-project{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5px;

    justify-content: left;
    align-items: center;
    background-color: $secondarycolor;
    border: none;
}

.category-btn:hover,
.add-project:hover {
    background-color: rgba($color: #000000, $alpha: 0.4);
}

.add-project p,
.category-btn p {
    font-size: 15px;
}

.add-project i,
.category-btn i {
    font-size: 24px;
}

